/* 

	Test css for minifier. 

*/
@media only screen and (max-width: 767px) {
  .container { width: 768px; }
  .container .column,
  .container .columns { margin-left: 10px; margin-right: 10px; }
}

someRule 	.someSelector {
	text-align :center ; 
	background: url( '  this {quoted text } should remain just   as badly spaced ') no-repeat;
	background: url( 'someURL') ;

}

/* more comments */ /*  */
anotherRule	
.withOddlySpacedSelector
{
	font: 12px   solid  black; /* Rule with double spaces in between parameters */
	background: url( "  this double quoted text  should remain just   as badly spaced") no-repeat;
	
}

/* more comments */ /*  */
anotherRule	
.withDollarAndBackSlashSelector
{
	font: 12px   solid  black; /* Rule with double spaces in between parameters */
	background: url( "  aFolder\image\rainbow\img$4.jpg") no-repeat;
	
}
/* done! */
	 